.customed-carousel-control-view{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    .customed-carousel-controller-prev{
        height: 30px;
        width: 30px;
        margin-right: 2%;
    }
    .customed-carousel-controller-next{
        height: 30px;
        width: 30px;
        transform: rotate(180deg);
        margin-left: 2%;
        &.disable{
            transform: rotate(0);
        }
    }
    .customed-carousel-control-panel{
        width: 20%;
        background-color: #EAEDEF;
        border-radius: 5px;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        p{
            font-family: $font-SemiBold;
            font-size: 1.2rem;
            color:#355468;
            margin: auto;
        }
    }
}



