.heat-map-view{
    width: 100%;
}

.heat-map-row{
    display: flex;
    margin-top: 1px;
}

.heat-map-box{
    width: fit-content;
    height: fit-content;
    margin-left: 1px;
    margin-right: 1px;
}

.heat-map-inner-box{
    position: relative;
    display: block;
    width: 61px;
    height: 61px;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #FFFFFF;
    color: #355468;
}