.mini-card-box{
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    padding: 3% 0 9.1% 9.7%;
    width: 14rem;
    height: 4.5rem;
    .mini-card-inner-padding{
        padding-left: inherit;
    }
    .mini-card-icon{
        width: 47px;
        height: 47px;
    }
    .mini-card-text{
        padding-left: 6%;

        p{
            margin-bottom: 0px;
            font-family: $font-Text ;
            color: #707070;
            font-size: 15px;
        }
        .mini-card-value-text{
            h4{   
                font-family: $font-SemiBold;
                font-size: 27px;
                color:#707070;
            }
            img{
                margin-left: 2px;
                width: 23px;
                height: 23px;
            }
        }

    }
}

.mini-card-box-dark{
    border-radius: 10px;
    padding: 3% 0 9.1% 9.7%;
    width: 14rem;
    height: 4.5rem;
    background-color: #355468;
    .mini-card-inner-padding{
        padding-left: inherit;
    }
    .mini-card-icon-background{
        position: absolute;
        z-index: 0;
        width: 52px;
        height: 52px;
        border-radius: 26px;
        background-color: #62A1C9;
        margin-left: -2px;
        margin-top: 3px;
    }
    .mini-card-icon{
        width: 47px;
        height: 47px;
        margin-top: 3px;
        z-index: 0;
    }
    .mini-card-text{
        padding-left: 6%;

        p{
            margin-bottom: 0px;
            font-family: $font-Text ;
            color: #DDDDDD;
            font-size: 15px;
        }
        .mini-card-value-text{
            h4{   
                font-family: $font-SemiBold;
                font-size: 27px;
                color:#DDDDDD;
            }
            img{
                margin-left: 2px;
                width: 23px;
                height: 23px;
            }
        }

    }
}

.mini-btn{
    border-radius: 10px;
    background-color: #355468;
    display: flex;
    &.view-btn{
        padding: 8px 10px 7px 13px;
        width: 4.8rem;
        height: 2.3rem;
    }
    &.search-btn{
        padding: 13px 26px 12px 26px;
        width: 6rem;
        height: 2.6rem;
    }
    h5{
        padding-top: 5%;
        font-family: $font-SemiBold;
        font-size: 14px;
        color:white;
    }
    img{
        padding-left: 7%;
        height: 20px;
        width: 20px;
    }
}