.header-view-position-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 21.2vw !important;
    padding-top: 4% !important;
    padding-right: 1.5vw !important;
    padding-bottom: 2% !important;
    z-index: 1;
    background-color: white;
}

.main-sub-title-2{
    margin-top: 10px;
    h5{
        margin-left: 10px;
        margin-bottom: 0;
        margin-right: 40px;
        font-size: 1.55rem;
        color: #355468;
        font-family: $font-Medium;
    }
}

.detection-result-container{
    margin-right: 15px;
    margin-bottom: 30px;
}

.temp{
    margin-left: -15px;
    margin-right: 15px;
}

