.main-sub-title-2{
    margin-top: 10px;
    h5{
        margin-left: 10px;
        margin-bottom: 0;
        margin-right: 40px;
        font-size: 1.55rem;
        color: #355468;
        font-family: $font-Medium;
    }
}

.overview-box{
    border-radius: 10px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:white;
}

.overview-header{
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
}