//colors
$white: #FFFFFF;



// fonts
$font-Bold: 'Sukhumvit-Bold';
$font-Light: 'Sukhumvit-Light';
$font-Medium: 'Sukhumvit-Medium';
$font-SemiBold: 'Sukhumvit-SemiBold';
$font-Text: 'Sukhumvit-Text';
$font-Thin: 'Sukhumvit-Thin';